[Unit]
Description=Setup SSH
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/dot-ssh.sh
Environment=""
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
